vscode*
!src/stable/src/vs/workbench/contrib/dance/browser/vscodeShim.ts
!src/stable/src/vs/workbench/contrib/dance/browser/vscode*.ts
VS*/*
VSCode*
VSCodium*
.DS_Store
*.env
assets/
!src/stable/extensions/dance/assets/
build/linux/appimage/out
build/linux/appimage/pkg2appimage.AppDir
build/linux/appimage/pkg2appimage-*.AppImage
build/linux/appimage/pkg2appimage.AppImage
build/linux/appimage/squashfs-root
build/linux/appimage/VSCodium
build/windows/msi/releasedir
build/windows/msi/Files*.wxs
build/windows/msi/Files*.wixobj
sourcemaps/
stores/snapcraft/insider/*.snap
stores/snapcraft/stable/*.snap
font-size/node_modules/
font-size/generate-css.js
